In [12]:
import pandas as pd

# creates an empty dataframe
pd.DataFrame()
# loads in data from a csv
df = pd.read_csv("ds-all-data.csv")
df.columns
df.head()

,CustomerID,CheckingAccountBalance,DebtsPaid,SavingsAccountBalance,CurrentOpenLoanApplications,LoanPayoffPeriodInMonths,LoanReason,RequestedAmount,InterestRate,Co-Applicant,YearsAtCurrentEmployer,YearsInCurrentResidence,Age,RentOrOwnHome,TypeOfCurrentEmployment,NumberOfDependantsIncludingSelf,WasTheLoanApproved
0,345,some,paid,none,1,24,auto,2760,4,none,10+,4,36,free,skilled,1,Y
1,243,some,delayed,some,1,12,goods,1424,4,none,7,3,26,owned,skilled,1,Y
2,662,debt,delayed,some,2,20,goods,4272,1,none,10+,4,24,owned,skilled,1,Y
3,102,none,paid,high,1,6,goods,2978,1,none,4,2,32,owned,skilled,1,Y
4,722,none,delayed,some,2,36,auto,6614,4,none,10+,4,34,owned,self,1,Y

In [16]:
df.to_csv("tmp.csv", index=False)

In [17]:
tmp_df = pd.read_csv("tmp.csv")
tmp_df.columns

Index(['CustomerID', 'CheckingAccountBalance', 'DebtsPaid',
       'SavingsAccountBalance', 'CurrentOpenLoanApplications',
       'LoanPayoffPeriodInMonths', 'LoanReason', 'RequestedAmount',
       'InterestRate', 'Co-Applicant', 'YearsAtCurrentEmployer',
       'YearsInCurrentResidence', 'Age', 'RentOrOwnHome',
       'TypeOfCurrentEmployment', 'NumberOfDependantsIncludingSelf',
       'WasTheLoanApproved'],
      dtype='object')

In [22]:
df2 = pd.read_csv("resampled_data.csv")
print(df2.columns)
new_columns = [elem for elem in df2.columns.tolist() if "Unnamed" not in elem]  
df2 = df2[new_columns]
df2.columns

Index(['Unnamed: 0', 'CurrentOpenLoanApplications', 'LoanPayoffPeriodInMonths',
       'RequestedAmount', 'InterestRate', 'YearsAtCurrentEmployer',
       'YearsInCurrentResidence', 'Age', 'NumberOfDependantsIncludingSelf',
       'CheckingAccountBalance_debt', 'CheckingAccountBalance_high',
       'CheckingAccountBalance_none', 'CheckingAccountBalance_some',
       'DebtsPaid_delayed', 'DebtsPaid_paid', 'SavingsAccountBalance_high',
       'SavingsAccountBalance_medium', 'SavingsAccountBalance_none',
       'SavingsAccountBalance_some', 'SavingsAccountBalance_v.high',
       'LoanReason_auto', 'LoanReason_busin', 'LoanReason_goods',
       'LoanReason_other', 'LoanReason_repairs', 'LoanReason_school',
       'Co-Applicant_co-app', 'Co-Applicant_guarant', 'Co-Applicant_none',
       'RentOrOwnHome_free', 'RentOrOwnHome_owned', 'RentOrOwnHome_rent',
       'TypeOfCurrentEmployment_none', 'TypeOfCurrentEmployment_self',
       'TypeOfCurrentEmployment_skilled', 'TypeOfCurrentEmployment_unskill',
       'WasTheLoanApproved_N', 'WasTheLoanApproved_Y'],
      dtype='object')

Index(['CurrentOpenLoanApplications', 'LoanPayoffPeriodInMonths',
       'RequestedAmount', 'InterestRate', 'YearsAtCurrentEmployer',
       'YearsInCurrentResidence', 'Age', 'NumberOfDependantsIncludingSelf',
       'CheckingAccountBalance_debt', 'CheckingAccountBalance_high',
       'CheckingAccountBalance_none', 'CheckingAccountBalance_some',
       'DebtsPaid_delayed', 'DebtsPaid_paid', 'SavingsAccountBalance_high',
       'SavingsAccountBalance_medium', 'SavingsAccountBalance_none',
       'SavingsAccountBalance_some', 'SavingsAccountBalance_v.high',
       'LoanReason_auto', 'LoanReason_busin', 'LoanReason_goods',
       'LoanReason_other', 'LoanReason_repairs', 'LoanReason_school',
       'Co-Applicant_co-app', 'Co-Applicant_guarant', 'Co-Applicant_none',
       'RentOrOwnHome_free', 'RentOrOwnHome_owned', 'RentOrOwnHome_rent',
       'TypeOfCurrentEmployment_none', 'TypeOfCurrentEmployment_self',
       'TypeOfCurrentEmployment_skilled', 'TypeOfCurrentEmployment_unskill',
       'WasTheLoanApproved_N', 'WasTheLoanApproved_Y'],
      dtype='object')

In [26]:
# how to do "standard for loop style
def do_work(x):
    return x+1
    
listing = list(range(10,100))
new_list = []
for i in listing:
    new_list.append(do_work(i))
print(new_list)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [75]:
df["CustomerID"] > 350
# is equivalent to
customerID = df["CustomerID"].tolist()
booleans = []
for elem in customerID:
    if elem > 350:
        booleans.append(True)
    else:
        booleans.append(False)
print(booleans == (df["CustomerID"] > 350).tolist())
# How to do selection: df[BOOLEAN STATEMENT]
#df[df["CustomerID"] > 350]

True

In [31]:
# Introduction to vector programming

# This is the internal structure of a dataframe - {"a": [1,2,3,4], "b":[2,3,4,5], "c":["h","y","t","t"]}
# this is a representational structure only.

x = df[df["CustomerID"] > 350]
print(len(x))
print(len(df))

280
513

In [37]:
import random
def whitenoise(x):
    return x + random.normalvariate(0,1)

y = df["RequestedAmount"].apply(whitenoise)
y.head()

0    2759.634446
1    1422.385523
2    4272.469201
3    2977.928841
4    6612.273859
Name: RequestedAmount, dtype: float64

In [38]:
df["RequestedAmount"].mean()

3360.4717348927875

In [39]:
df["RequestedAmount"].var()

9027604.4371878058

In [40]:
df["RequestedAmount"].skew()

1.9699604555047101

In [41]:
df["RequestedAmount"].kurt()

4.2783092566638938

In [42]:
df["RequestedAmount"].median()

2333.0

In [51]:
inter_quartile_range = df["RequestedAmount"].quantile(0.75) - df["RequestedAmount"].quantile(0.25)
inter_quartile_range

2691.0

In [52]:
dir(df)

['Age',
 'CheckingAccountBalance',
 'CurrentOpenLoanApplications',
 'CustomerID',
 'DebtsPaid',
 'InterestRate',
 'LoanPayoffPeriodInMonths',
 'LoanReason',
 'NumberOfDependantsIncludingSelf',
 'RentOrOwnHome',
 'RequestedAmount',
 'SavingsAccountBalance',
 'T',
 'TypeOfCurrentEmployment',
 'WasTheLoanApproved',
 'YearsAtCurrentEmployer',
 'YearsInCurrentResidence',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_nsorted',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combineAdd',
 'combineMult',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'icol',
 'idxmax',
 'idxmin',
 'iget_value',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'irow',
 'is_copy',
 'isin',
 'isnull',
 'items',
 'iteritems',
 'iterkv',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_wide',
 'to_xarray',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [59]:
df["RequestedAmount"].corr(df["InterestRate"], method="spearman")

-0.30194734527583922

In [60]:
df["RequestedAmount"].cov(df["InterestRate"])

-907.62982760721241

In [64]:
df["RequestedAmount"].describe()

count      513.000000
mean      3360.471735
std       3004.597217
min        276.000000
25%       1366.000000
50%       2333.000000
75%       4057.000000
max      18424.000000
Name: RequestedAmount, dtype: float64

In [67]:
df["RequestedAmount"].fillna(0)
"thing" #surpressing output from dataframe

'thing'

In [71]:
df.ix[0].to_dict()

{'Age': 36,
 'CheckingAccountBalance': 'some',
 'Co-Applicant': 'none',
 'CurrentOpenLoanApplications': 1,
 'CustomerID': 345,
 'DebtsPaid': 'paid',
 'InterestRate': 4,
 'LoanPayoffPeriodInMonths': 24,
 'LoanReason': 'auto',
 'NumberOfDependantsIncludingSelf': 1,
 'RentOrOwnHome': 'free',
 'RequestedAmount': 2760,
 'SavingsAccountBalance': 'none',
 'TypeOfCurrentEmployment': 'skilled',
 'WasTheLoanApproved': 'Y',
 'YearsAtCurrentEmployer': '10+',
 'YearsInCurrentResidence': 4}

In [81]:
df.pivot(index=df.index, columns="DebtsPaid")

          CustomerID        CheckingAccountBalance        \
DebtsPaid    delayed   paid                delayed  paid
0                NaN  345.0                   None  some
1              243.0    NaN                   some  None
2              662.0    NaN                   debt  None
3                NaN  102.0                   None  none
4              722.0    NaN                   none  None
5                NaN  316.0                   None  none
6              236.0    NaN                   none  None
7                NaN  572.0                   None  debt
8              436.0    NaN                   none  None
9              338.0    NaN                   none  None
10               NaN  499.0                   None  debt
11             570.0    NaN                   none  None
12               NaN  473.0                   None  debt
13              89.0    NaN                   some  None
14               NaN  183.0                   None  debt
15               NaN  222.0                   None  debt
16               NaN  289.0                   None  debt
17             165.0    NaN                   none  None
18               NaN  268.0                   None  debt
19               NaN  218.0                   None  debt
20             327.0    NaN                   none  None
21             283.0    NaN                   high  None
22             240.0    NaN                   none  None
23             189.0    NaN                   high  None
24               NaN  259.0                   None  none
25             226.0    NaN                   none  None
26               NaN  390.0                   None  none
27             434.0    NaN                   none  None
28               NaN  145.0                   None  debt
29               NaN  617.0                   None  none
..               ...    ...                    ...   ...
483              NaN  207.0                   None  debt
484              NaN   23.0                   None  none
485              NaN   79.0                   None  none
486              NaN   90.0                   None  debt
487              NaN   42.0                   None  none
488              NaN  233.0                   None  debt
489              NaN  230.0                   None  debt
490            539.0    NaN                   debt  None
491              NaN  299.0                   None  none
492              NaN  340.0                   None  some
493              NaN  498.0                   None  none
494              NaN  219.0                   None  debt
495            149.0    NaN                   high  None
496            697.0    NaN                   none  None
497            611.0    NaN                   debt  None
498              NaN  657.0                   None  none
499            195.0    NaN                   debt  None
500              NaN  421.0                   None  debt
501            234.0    NaN                   some  None
502              NaN  298.0                   None  some
503              NaN  229.0                   None  none
504              NaN  304.0                   None  some
505              NaN  108.0                   None  some
506            413.0    NaN                   some  None
507              NaN  275.0                   None  some
508             26.0    NaN                   some  None
509            573.0    NaN                   none  None
510              NaN  502.0                   None  debt
511            216.0    NaN                   some  None
512            673.0    NaN                   none  None

          SavingsAccountBalance         CurrentOpenLoanApplications       \
DebtsPaid               delayed    paid                     delayed paid
0                          None    none                         NaN  1.0
1                          some    None                         1.0  NaN
2                          some    None                         2.0  NaN
3                          None    high                         NaN  1.0
4                          some    None                         2.0  NaN
5                          None    none                         NaN  1.0
6                          none    None                         2.0  NaN
7                          None    some                         NaN  1.0
8                        medium    None                         2.0  NaN
9                          none    None                         2.0  NaN
10                         None    some                         NaN  1.0
11                         none    None                         2.0  NaN
12                         None    some                         NaN  1.0
13                       v.high    None                         2.0  NaN
14                         None    some                         NaN  1.0
15                         None    some                         NaN  1.0
16                         None    some                         NaN  1.0
17                         some    None                         2.0  NaN
18                         None    some                         NaN  1.0
19                         None    some                         NaN  1.0
20                         some    None                         2.0  NaN
21                         some    None                         1.0  NaN
22                         none    None                         2.0  NaN
23                         some    None                         1.0  NaN
24                         None  medium                         NaN  1.0
25                         some    None                         2.0  NaN
26                         None    none                         NaN  2.0
27                         none    None                         1.0  NaN
28                         None  medium                         NaN  1.0
29                         None    some                         NaN  1.0
..                          ...     ...                         ...  ...
483                        None    some                         NaN  1.0
484                        None  medium                         NaN  1.0
485                        None  v.high                         NaN  1.0
486                        None    some                         NaN  1.0
487                        None    some                         NaN  3.0
488                        None    none                         NaN  1.0
489                        None    some                         NaN  1.0
490                        some    None                         2.0  NaN
491                        None  medium                         NaN  2.0
492                        None    some                         NaN  2.0
493                        None    none                         NaN  1.0
494                        None    some                         NaN  1.0
495                        some    None                         2.0  NaN
496                      medium    None                         3.0  NaN
497                        some    None                         2.0  NaN
498                        None    some                         NaN  1.0
499                        some    None                         2.0  NaN
500                        None    some                         NaN  1.0
501                        high    None                         2.0  NaN
502                        None    some                         NaN  1.0
503                        None    some                         NaN  1.0
504                        None    some                         NaN  1.0
505                        None    some                         NaN  2.0
506                        some    None                         1.0  NaN
507                        None    some                         NaN  2.0
508                        some    None                         2.0  NaN
509                        none    None                         1.0  NaN
510                        None    some                         NaN  1.0
511                        some    None                         2.0  NaN
512                        some    None                         2.0  NaN

          LoanPayoffPeriodInMonths        ...      Age       RentOrOwnHome  \
DebtsPaid                  delayed  paid  ...  delayed  paid       delayed
0                              NaN  24.0  ...      NaN  36.0          None
1                             12.0   NaN  ...     26.0   NaN         owned
2                             20.0   NaN  ...     24.0   NaN         owned
3                              NaN   6.0  ...      NaN  32.0          None
4                             36.0   NaN  ...     34.0   NaN         owned
5                              NaN  30.0  ...      NaN  58.0          None
6                             30.0   NaN  ...     36.0   NaN         owned
7                              NaN  36.0  ...      NaN  39.0          None
8                             24.0   NaN  ...     35.0   NaN         owned
9                             48.0   NaN  ...     46.0   NaN         owned
10                             NaN  24.0  ...      NaN  63.0          None
11                            24.0   NaN  ...     46.0   NaN         owned
12                             NaN  18.0  ...      NaN  27.0          None
13                            11.0   NaN  ...     40.0   NaN         owned
14                             NaN  48.0  ...      NaN  54.0          None
15                             NaN  12.0  ...      NaN  26.0          None
16                             NaN  12.0  ...      NaN  27.0          None
17                            30.0   NaN  ...     25.0   NaN         owned
18                             NaN  24.0  ...      NaN  45.0          None
19                             NaN  15.0  ...      NaN  23.0          None
20                             6.0   NaN  ...     45.0   NaN         owned
21                             6.0   NaN  ...     29.0   NaN         owned
22                            12.0   NaN  ...     37.0   NaN         owned
23                            42.0   NaN  ...     56.0   NaN          free
24                             NaN   9.0  ...      NaN  35.0          None
25                            60.0   NaN  ...     21.0   NaN         owned
26                             NaN  28.0  ...      NaN  40.0          None
27                             7.0   NaN  ...     36.0   NaN          free
28                             NaN  12.0  ...      NaN  20.0          None
29                             NaN  18.0  ...      NaN  43.0          None
..                             ...   ...  ...      ...   ...           ...
483                            NaN  36.0  ...      NaN  41.0          None
484                            NaN  12.0  ...      NaN  35.0          None
485                            NaN  21.0  ...      NaN  36.0          None
486                            NaN  36.0  ...      NaN  37.0          None
487                            NaN  18.0  ...      NaN  47.0          None
488                            NaN  24.0  ...      NaN  32.0          None
489                            NaN  12.0  ...      NaN  40.0          None
490                           36.0   NaN  ...     46.0   NaN         owned
491                            NaN  36.0  ...      NaN  31.0          None
492                            NaN  24.0  ...      NaN  23.0          None
493                            NaN  30.0  ...      NaN  53.0          None
494                            NaN  12.0  ...      NaN  38.0          None
495                            6.0   NaN  ...     46.0   NaN         owned
496                           11.0   NaN  ...     57.0   NaN         owned
497                           36.0   NaN  ...     25.0   NaN         owned
498                            NaN  24.0  ...      NaN  25.0          None
499                           13.0   NaN  ...     28.0   NaN         owned
500                            NaN  30.0  ...      NaN  31.0          None
501                           27.0   NaN  ...     23.0   NaN         owned
502                            NaN  60.0  ...      NaN  27.0          None
503                            NaN   6.0  ...      NaN  29.0          None
504                            NaN  36.0  ...      NaN  42.0          None
505                            NaN   9.0  ...      NaN  67.0          None
506                           11.0   NaN  ...     51.0   NaN         owned
507                            NaN  36.0  ...      NaN  32.0          None
508                           30.0   NaN  ...     28.0   NaN         owned
509                           12.0   NaN  ...     57.0   NaN          rent
510                            NaN  48.0  ...      NaN  42.0          None
511                           12.0   NaN  ...     49.0   NaN         owned
512                            6.0   NaN  ...     28.0   NaN         owned

                 TypeOfCurrentEmployment           \
DebtsPaid   paid                 delayed     paid
0           free                    None  skilled
1           None                 skilled     None
2           None                 skilled     None
3          owned                    None  skilled
4           None                    self     None
5          owned                    None  skilled
6           None                 skilled     None
7           free                    None     self
8           None                 skilled     None
9           None                    self     None
10         owned                    None  skilled
11          None                    self     None
12         owned                    None  skilled
13          None                 skilled     None
14         owned                    None  skilled
15         owned                    None  skilled
16         owned                    None  skilled
17          None                 skilled     None
18         owned                    None  skilled
19          rent                    None  skilled
20          None                    self     None
21          None                 skilled     None
22          None                 unskill     None
23          None                 skilled     None
24         owned                    None  skilled
25          None                 skilled     None
26          rent                    None  skilled
27          None                 skilled     None
28         owned                    None  skilled
29         owned                    None  skilled
..           ...                     ...      ...
483        owned                    None  skilled
484        owned                    None  skilled
485        owned                    None  unskill
486        owned                    None  skilled
487        owned                    None  skilled
488         rent                    None  skilled
489        owned                    None  unskill
490         None                 skilled     None
491        owned                    None  skilled
492         rent                    None     self
493        owned                    None     self
494        owned                    None  unskill
495         None                 skilled     None
496         None                 unskill     None
497         None                    self     None
498        owned                    None  skilled
499         None                 unskill     None
500        owned                    None  unskill
501         None                 unskill     None
502        owned                    None     self
503         rent                    None  skilled
504        owned                    None  skilled
505        owned                    None     self
506         None                 skilled     None
507        owned                    None  skilled
508         None                    self     None
509         None                 unskill     None
510         free                    None     self
511         None                 unskill     None
512         None                 skilled     None

          NumberOfDependantsIncludingSelf      WasTheLoanApproved
DebtsPaid                         delayed paid            delayed  paid
0                                     NaN  1.0               None     Y
1                                     1.0  NaN                  Y  None
2                                     1.0  NaN                  Y  None
3                                     NaN  1.0               None     Y
4                                     1.0  NaN                  Y  None
5                                     NaN  1.0               None     Y
6                                     1.0  NaN                  Y  None
7                                     NaN  2.0               None     Y
8                                     1.0  NaN                  Y  None
9                                     2.0  NaN                  Y  None
10                                    NaN  2.0               None     Y
11                                    2.0  NaN                  Y  None
12                                    NaN  1.0               None     Y
13                                    1.0  NaN                  Y  None
14                                    NaN  1.0               None     N
15                                    NaN  1.0               None     N
16                                    NaN  1.0               None     Y
17                                    1.0  NaN                  Y  None
18                                    NaN  1.0               None     N
19                                    NaN  1.0               None     Y
20                                    2.0  NaN                  Y  None
21                                    1.0  NaN                  Y  None
22                                    2.0  NaN                  Y  None
23                                    1.0  NaN                  Y  None
24                                    NaN  1.0               None     Y
25                                    1.0  NaN                  Y  None
26                                    NaN  2.0               None     Y
27                                    1.0  NaN                  Y  None
28                                    NaN  1.0               None     N
29                                    NaN  1.0               None     Y
..                                    ...  ...                ...   ...
483                                   NaN  2.0               None     N
484                                   NaN  1.0               None     Y
485                                   NaN  1.0               None     Y
486                                   NaN  2.0               None     Y
487                                   NaN  2.0               None     Y
488                                   NaN  1.0               None     N
489                                   NaN  1.0               None     Y
490                                   1.0  NaN                  Y  None
491                                   NaN  1.0               None     Y
492                                   NaN  1.0               None     N
493                                   NaN  1.0               None     N
494                                   NaN  2.0               None     Y
495                                   2.0  NaN                  Y  None
496                                   1.0  NaN                  Y  None
497                                   1.0  NaN                  N  None
498                                   NaN  1.0               None     Y
499                                   1.0  NaN                  Y  None
500                                   NaN  1.0               None     N
501                                   1.0  NaN                  N  None
502                                   NaN  1.0               None     N
503                                   NaN  1.0               None     Y